@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pancel {
  position: relative;
  width: 100%;
  height: 100%;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.tools-pancel {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 1;
  pointer-events: none;
  @include flex-center-center();
  .tools {
    pointer-events: all;
    height: 100%;
    max-width: 690px;
    background-color: #b1b0ae;
    padding: 0px 20px;
    @include flex-center-center();
    border-radius: 1.25rem 1.25rem 0 0;
    .paint-back {
      @include flex-center-center();
      cursor: pointer;
      margin-right: 1rem;
      .bgColor {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
      }
    }
    .btn-groups {
      margin-left: 1rem;
      @include flex-center-center();
      button {
        border-radius: 100vw 0 0 100vw;
        border: none;
        align-self: stretch;
        background: #ebf7fc;
        border: 0;
        cursor: pointer;
        font-family: "ABeeZee", sans-serif;
        font-size: 1rem;
        height: auto;
        padding: 0.5rem 1rem;
        cursor: pointer;
        margin-right: 0.2rem;
      }
      a {
        border-radius: 0 100vw 100vw 0;
        border: none;
        align-self: stretch;
        background: #ebf7fc;
        border: 0;
        cursor: pointer;
        font-family: "ABeeZee", sans-serif;
        font-size: 1rem;
        height: auto;
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
    }
    .auto-paint,
    .Colour {
      @include flex-center-center();
      margin: 0px 1rem;
    }
    .auto-paint {
      span {
        width: 135px;
      }
    }
    .Colour {
      height: 100%;
      .color-picker {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
      }
      ::ng-deep .pcr-button {
        margin-bottom: 6px;
      }
    }
  }
}

.cursor-light {
  transition: background-color 1.5s;
  background-color: #f4e3cf; // 白天好看
  cursor: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h100v100H0z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M50 0a50 50 0 100 100A50 50 0 0050 0zm0 4a46 46 0 110 92 46 46 0 010-92z'/%3E%3C/g%3E%3C/svg%3E%0A")
      12 12,
    auto; // 白天好看
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) bg-switch-to-light 1;
}

.cursor-dark {
  transition: background-color 1.5s;
  background-color: #212121; // 晚上好看
  cursor: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNjUyOTczOTI5MzU5IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjY1ODMiIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+PHBhdGggZD0iTTUxMiA2NS45ODE0NGMtMjQ1LjkxODcyIDAtNDQ2LjAxODU2IDIwMC4wOTQ3Mi00NDYuMDE4NTYgNDQ2LjAxODU2IDAgMjQ1Ljk1NDU2IDIwMC4wNjQgNDQ2LjAxODU2IDQ0Ni4wMTg1NiA0NDYuMDE4NTZzNDQ2LjAxODU2LTIwMC4wNjQgNDQ2LjAxODU2LTQ0Ni4wMTg1NmMwLTI0NS45MTg3Mi0yMDAuMDY0LTQ0Ni4wMTg1Ni00NDYuMDE4NTYtNDQ2LjAxODU2eiBtMCA4MjguMDM3MTJjLTIxMC42NTcyOCAwLTM4Mi4wMTg1Ni0xNzEuMzkyLTM4Mi4wMTg1Ni0zODIuMDE4NTYgMC0yMTAuNjU3MjggMTcxLjM2MTI4LTM4Mi4wMTg1NiAzODIuMDE4NTYtMzgyLjAxODU2IDIxMC42MjY1NiAwIDM4Mi4wMTg1NiAxNzEuMzYxMjggMzgyLjAxODU2IDM4Mi4wMTg1NiAwIDIxMC42MjY1Ni0xNzEuMzkyIDM4Mi4wMTg1Ni0zODIuMDE4NTYgMzgyLjAxODU2eiIgcC1pZD0iNjU4NCIgZmlsbD0iI2ZmZmZmZiI+PC9wYXRoPjwvc3ZnPg==")
      12 12,
    auto; // 晚上好看
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) bg-switch-to-dark 1;
}

.light {
  animation: 2s cubic-bezier(0.25, 1, 0.3, 1) toLight 1;
  background-color: #f4e3cf;
}

.dark {
  animation: 2s cubic-bezier(0.25, 1, 0.3, 1) toDark 1;
  background-color: #212121;
}

// 按钮
.switch-btn {
  width: 5.5rem;
  height: 2.5rem;
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
    // 用来校验滑动按钮事件
    // height: 50;
    // width: 50;
    // visibility: visible;
    // display: block;
  }

  label {
    cursor: pointer;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: #ebf7fc;
    display: block;
    border-radius: 2rem;
    position: relative;
  }

  label:after {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
    font-size: 0.625em;
    font-weight: 700;
    color: #ffffff;
    @include flex-center-center();
    // false时的状态
    content: "YES";
    background-color: #03a9f4;
  }

  input:checked + label {
    background: #fcebeb;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    content: "NO";
    background-color: #f44336;
  }

  label:active:after {
    width: 40%;
  }
}

// 切换btn背景
@keyframes toLight {
  from {
    clip-path: circle(0% at top left);
  }
  to {
    clip-path: circle(125%);
  }
}

// 切换btn背景
@keyframes toDark {
  from {
    clip-path: circle(0% at top left);
  }
  to {
    clip-path: circle(125%);
  }
}

// 切换canvas背景
@keyframes bg-switch-to-light {
  0% {
    clip-path: inset(100% 100% 100% 100%);
  }
  40% {
    clip-path: inset(33% 33% 33% 33%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
// 切换canvas背景
@keyframes bg-switch-to-dark {
  0% {
    clip-path: inset(100% 100% 100% 100%);
  }
  40% {
    clip-path: inset(33% 33% 33% 33%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@media screen and (min-width: 760px) {
  .tools-pancel {
    height: 60px;
  }
}

@media screen and (max-width: 760px) {
  .tools {
    flex-direction: column;
    .item {
      padding: 5px 10px;
    }
  }
}
